@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
/***********************************************************************************************************************/
/* LOGIN & REGISTER PAGES **********************************************************************************************/
/************************************************************************************************************************/
body {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("../img/log-background.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/log-background.jpg");
  background-background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body header {
  background-color: white;
}

body header nav {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

body header nav a {
  text-decoration: none;
}

body header nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

body header nav .nav-bar .nav-item {
  color: #293132;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body header nav .nav-bar .nav-item:hover {
  text-decoration: underline;
  color: #A31621;
}

body header nav .nav-button {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

body header nav .nav-button a {
  color: #A31621;
  border: #A31621 1px solid;
  padding: 10px 40px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body header nav .nav-button a:hover {
  background-color: #A31621;
  color: white;
}

body .connect-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 80vh;
}

body .connect-section .welcome-msg {
  font-size: 42px;
}

body .connect-section .sub-welcome-msg {
  font-size: 32px;
}

body .connect-section .ipt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 2rem;
  width: 360px;
}

body .connect-section .ipt-container input {
  padding: 18px 15px;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
}

body .connect-section .ipt-container .ipt-text,
body .connect-section .ipt-container .ipt-name {
  border: #A31621 1px solid;
}

body .connect-section .ipt-container .ipt-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body .connect-section .ipt-container .ipt-name {
  width: 50%;
}

body .connect-section .ipt-container .ipt-sub {
  background-color: #A31621;
  border: none;
  color: white;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */