//VARIABLES
$font: 'Quicksand', sans-serif;
$redcolor: #A31621;
$blackcolor: #293132;
$greycolor: #CDCDCD;
$greycolor2: #EEE5E5;

body {
    background-image: url("../img/log-background.jpg");
    background-size: cover;
    backdrop-filter: opacity(0.3) ;
    font-family: $font;
    margin: 0 auto;

    header {
        background-color: white;

        nav {

            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 30px;

            a {
                text-decoration: none;
            }

            .nav-bar {
                display: flex;
                gap: 60px;

                .nav-item {
                    color: $blackcolor;
                    transition: all 0.2s;

                    &:hover {
                        text-decoration: underline;
                        color: $redcolor;
                    }
                }
            }

            .nav-button {
                margin-right: 30px;
                display: flex;
                gap: 25px;

                a {
                    color: $redcolor;
                    border: $redcolor 1px solid;
                    padding: 10px 40px;
                    border-radius: 5px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $redcolor;
                        color: white;
                    }
                }
            }
        }
    }



    .connect-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;

        .welcome-msg {
            font-size: 42px;
        }

        .sub-welcome-msg {
            font-size: 32px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 2rem;
            
            input {
                padding: 18px 18px;
                outline: none;
                width: 250px;
                font-size: 18px;
                border-radius: 5px;
            }

            .ipt-text {
                border: $redcolor 1px solid;
            }

            .ipt-name {
                display: flex;
                gap: 29px;
            }

            .ipt-sub {
                background-color: $redcolor;
                border: none;
                color: white;
                width: 288px;
                font-size: 16px;
            }
        }
    }
}