$redcolor: #A31621;
$blackcolor: #293132;
$greycolor: #CDCDCD;
$greycolor2: #EEE5E5;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$font: 'Quicksand', sans-serif;

body {
    margin: 0 auto;
    font-family: $font;
    background-color: $greycolor2;

    .p-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2em 0;


        .welcome-title {
            background-color: rgba($color: #fff, $alpha: 0.4);
            border-radius: 5px;
            padding: 15px 50px;
            font-size: 42px;
        }

        .text-container {
            display: flex;
            flex-direction: column;

            p {
                font-size: 24px;
            }
        }
    }

    .new-container {
        display: flex;
        justify-content: center;
        gap: 5em;

        a {
            display: flex;
            align-items: center;
            gap: 15px;

            text-decoration: none;
            color: $redcolor;
            background-color: none;
            border: $redcolor 1px solid;
            border-radius: 5px;
            padding: 15px 25px;
            transition: all 0.3s;

            &:hover {
                background-color: $redcolor;
                color: white;
            }
        }
    }

    .table-pos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;

        .table-style {
            table {
                border-collapse: collapse;

                thead {
                    th {
                        font-size: 1.5em;
                        border-bottom: #293132 1px solid;
                        padding: 1em;
                    }
                }

                tbody {
                    tr {
                        td {
                            border-bottom: 1px solid #293132;
                            padding: 1.5em 2em;
                            font-size: 1.3em;
                        }
                    }
                }
            }

            h3 {
                font-size: 2rem;
            }
        }
    }
}